<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vetsville USA</title>
    <meta name="description" content="Vetsville, veterans vocational training and substance abuse counseling provider">
    <meta name="keywords" content="vetsville, veterans benefit, veterans vocational training, veterans training">
    <meta name="author" content="vetsvilleusa.com">
    
    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href= "{{ url_for('static', filename='ico/favicon.ico') }}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='img/apple-touch-icon.png') }}" >
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='img/apple-touch-icon-72x72.png') }}" >
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='img/apple-touch-icon-114x114.png') }}" >

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='fonts/font-awesome/css/font-awesome.css' ) }}"> 
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/bootstrap.css' ) }}" rel="stylesheet">

    <!-- Slider
    ================================================== -->
    <link href="{{ url_for('static',filename='css/owl.carousel.css' ) }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/owl.theme.css' ) }}" rel="stylesheet">

    <!-- Stylesheet
    ================================================== -->
    <link href="{{ url_for('static',filename='css/style.css' ) }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/responsive.css' ) }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/footer.css' ) }}" rel="stylesheet">

    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="{{ url_for('static', filename='js/modernizr.custom.js') }}" ></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- Navigation
    ==========================================-->
    <nav id="tf-menu" class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Vetsville USA</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#tf-home" class="page-scroll">Home</a></li>
            <li><a href="#tf-about" class="page-scroll">About</a></li>
            <li><a href="#tf-services" class="page-scroll">Services</a></li>
            <li><a href="#tf-epartners" class="page-scroll">Educational Partners</a></li>
            <li><a href="#tf-housing" class="page-scroll">Housing</a></li>
            <li><a href="/faqs.html" class="page-scroll">Benefits FAQs</a></li>
            <li><a href="#tf-contact" class="page-scroll">Contact</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <!-- Home Page
    ==========================================-->
    <div id="tf-home" class="text-center">
        <div class="content">
            <div class="content">
                <div id="clients" class="owl-carousel owl-theme">
                    <div class="item col-sm-2 col-md-4 col-lg-5">
                        <img class="img-responsive" alt="US Army Logo" src="/static/img/USArmy.png">
                    </div>
                    <div class="item col-sm-2 col-md-4 col-lg-5">
                        <img class="img-responsive" alt="US Navy Logo" src="/static/img/USNavy.png">
                    </div>
                    <div class="item col-sm-2 col-md-4 col-lg-5">
                        <img class="img-responsive" alt="US Airforce Logo" src="/static/img/USAF.png">
                    </div>
                    <div class="item col-sm-2 col-md-4 col-lg-5">
                        <img class="img-responsive" alt="US Airforce Logo" src="/static/img/USMarine.png">
                    </div>
                    <div class="item col-sm-2 col-md-4 col-lg-5">
                        <img class="img-responsive" alt="US Airforce Logo" src="/static/img/USCg.png">
                    </div>
                </div>

                <div class="container">
                    <div class="row home-banner">
                        <h1>Welcome to <strong><span class="color">Vetsville USA</span></strong></h1>
                        <h3>Veterans, we are your <span class="color"> bridge to an independent civilian life.</span></h3>
                    </div>
                    <div class="row home-banner">
                        <div class="col-md-5 col-md-offset-1">
                            <p> Cutting edge Vocational training</p>
                        </div>
                        <div class="col-md-5">
                            <p> Need based Substance abuse counseling</p>
                        </div>
                    </div>
                    <div class="row home-banner">
                        <div class="col-md-5 col-md-offset-1">
                            <p> Exclusively for Veterans</p>
                        </div>
                        <div class="col-md-5">
                            <p> Provided at no cost to Veterans!</p>
                        </div>
                    </div>
                </div>
                <a href="#tf-about" class="fa fa-angle-down page-scroll"></a>
                <div class='attribution'>
                    <a title="By The U.S. Army VIC PHOTO FT LEONARD WOOD/4th Maneuver Enhancement Brigade/U.S. Army (Helocast) [Public domain], via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File%3AFlickr_-_The_U.S._Army_-_Helocast.jpg"></a>
                    <a title="By Ahmedherz (Own work) [CC BY-SA 4.0 (http://creativecommons.org/licenses/by-sa/4.0)], via Wikimedia Commons"> </a>
                </div>
            </div>
        </div>
    </div>

    <!-- About Us Page
    ==========================================-->
    <div id="tf-about" class="text-center">
        <div class="container">
            <div class="row">
                <div class="section-title center col-md-6 col-lg-12">
                    <h2>About <strong>us</strong></h2>
                    <div class="line">
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-lg-12">
                    <div class="about-text" align="center">
                        <p class="lead">We believe in our veterans. They are capable of great things.</p>
                        <p class="lead">Our mission and purpose is to bridge the gap to guide them to a new destiny.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-lg-6">
                    <div class="about-text" align="left">
                        <p class="intro" align="left">Veterans face a truly challenging transition when they return to civilian life. They must reinvent themselves. They go from the military's structured routine to a completely unstructured environment where they are under constant pressure to integrate into independence and self-sufficiency. Veterans must make life-changing decisions quickly, many times without coaching and guidance that hold the key to options that lead to successful outcomes. VetsvilleUSA wants to eliminate uncertainty and doubts in their minds. We want vets armed with confidence and self-worth ready to compete in today's job market, making wise decisions that pay dividends which change their lives.</p>
                        <p class="intro" align="left">VetsvilleUSA provides the required services and resources. We provide life coaching and counseling to assess goals. We provide housing in our veterans living centers, while receiving quality college coursework or vocational training either online or in classrooms. This helps vets advance towards employment or entrepreneurship, receiving a secure a place in life's journey toward financial security.</p>
                    </div>
                </div>
                <div class="col-md-4 col-lg-6">
                        <p class="intro" align="left">VetsvilleUSA wants optimum opportunity for each of our veterans. They deserve OUR best as they gave us their best. Our veterans wear their "CAP" proudly. "CAP" is Career Action Plan, a step-by-step approach to their career success and financial security. We counsel vets in developing goal-oriented options which bring into focus training through our educational partnerships in one of many areas including: Culinary Arts, Business Management, Hospitality Operations, Hydroponics and Horticulture.</p>
                        <p class="intro" align="left">Our entrepreneurship program develops offers opportunities for vets to run their Freight Farms (the latest and greatest hydroponics program in America!), revitalizing under-performing hotels across the country (utilizing skills learnt in training covering all facets of hotel operations and restaurant services management). We thus transform the vets into business leaders and help them realize their goals, with VetsvilleUSA being their "bridge" to a solid, secure future.</p>
                </div>
            </div>
            <div class="row" align="center">
                <div class="col-md-8 col-lg-12">
                    <ul class="about-list">
                        <li>
                            <span class="fa fa-dot-circle-o"></span>
                            <strong>Aim</strong> - <em>Improve quality of life of our Veterans</em>
                        </li>
                        <li>
                            <span class="fa fa-dot-circle-o"></span>
                            <strong>How?</strong> - <em>Life coaching/counseling +vocational training/college programs = employment</em>
                        </li>
                        <li>
                            <span class="fa fa-dot-circle-o"></span>
                            <strong>Target Audience</strong> - <em>Calling out to all veterans!</em>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <!-- Services Section
    ==========================================-->
    <div id="tf-services" class="text-center">
        <div class="container">
            <div class="section-title center">
                <h2>Take a look at <strong>our services</strong></h2>
                <div class="line">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 service">
                    <i class="fa fa-university"></i>
                    <h4><strong>Career Training</strong></h4>
                    <hr>
                    <a>Business Management</a>
                    <hr>
                    <a>Culinary Arts</a>
                    <hr>
                    <a>Technology related</a>
                    <hr>
                    <a>Hospitality Operations</a>
                    <hr>
                    <a>Horticulture</a>
                    <hr>
                    <a>Hydroponics</a>
                    <hr>
                </div>

                <div class="col-md-4 col-sm-6 service">
                    <i class="fa fa-linkedin"></i>
                    <h4><strong>Career Advancement</strong></h4>
                    <hr>
                    <a>Job Placement</a>
                    <hr>
                    <a>Entrepreneurship</a>
                    <hr>
                </div>

                <div class="col-md-4 col-sm-6 service">
                    <i class="fa fa-bookmark"></i>
                    <h4><strong>Life Coaching & Counseling</strong></h4>
                    <hr>
                    <a>Goal and Life action plans</a>
                    <hr>
                    <a>Substance Abuse</a>
                    <hr>
                    <a>Motivational</a>
                    <hr>
                </div>
            </div>
        </div>
    </div>

    <!-- Educational Partners Section
    ==========================================-->
    <div id="tf-epartners" class="text-center">
        <div class="container">
            <div class="section-title center">
                <h2>Welcome <strong>Educational Partners</strong></h2>
                <div class="line">
                </div>
            </div>

            <div class="row">
                <p class="lead" align="left">What can VetsvilleUSA do for you? The Vetsville USA bridge can give you access to the most dedicated students.</p>
            </div>

            <div class="row">
                <div class="col-sm-2 col-md-5 col-lg-6">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                            <li data-target="#myCarousel" data-slide-to="3"></li>
                            <li data-target="#myCarousel" data-slide-to="4"></li>
                            <li data-target="#myCarousel" data-slide-to="5"></li>
                            <li data-target="#myCarousel" data-slide-to="6"></li>
                        </ol>
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <img src="{{ url_for('static', filename='img/freightfarm1.png') }}" alt="HydroPonics" height="50" width="100">
                                <div class="carousel-caption">
                                    <h3>Hydroponics</h3>
                                </div>
                            </div>
                            <div class="item">
                                <img src="{{ url_for('static', filename='img/freightfarm5.jpg') }}" alt="FreightFarms" height="50" width="100">
                                <div class="carousel-caption">
                                    <h3>FarmFreight</h3>
                                </div>
                            </div>
                            <div class="item">
                                <img src="{{ url_for('static', filename='img/freightfarm3.png') }}" alt="Hydroponics" height="50" width="100">
                                <div class="carousel-caption">
                                    <h3>Hydroponics</h3>
                                </div>
                            </div>
                            <div class="item">
                                <img src="{{ url_for('static', filename='img/freightfarm4.jpg') }}" alt="Hydroponics" height="50" width="100">
                                <div class="carousel-caption">
                                    <h3>Hydroponics</h3>
                                </div>
                            </div>
                            <div class="item">
                                <img src="{{ url_for('static', filename='img/hospitality.jpg') }}" alt="Hospitality" height="50" width="100">
                                <div class="carousel-caption">
                                    <h3>Hospitality</h3>
                                </div>
                            </div>
                            <div class="item">
                                <img src="{{ url_for('static', filename='img/hospitality2.jpg') }}" alt="Hospitality" height="50" width="100">
                                <div class="carousel-caption">
                                    <h3>Hospitality</h3>
                                </div>
                            </div>
                            <div class="item">
                                <img src="{{ url_for('static', filename='img/hospitality3.jpg') }}" alt="Hospitality" height="50" width="100">
                                <div class="carousel-caption">
                                    <h3>Hospitality</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-4 col-lg-5">
                    <div class="about-text" align="left">
                        <p class="intro" align="left">VetsvilleUSA Living and Resource Center recruits men and women who are transitioning from active duty to civilian life when they are making critical civilian career decisions. More and more of these potential students are recognizing that they need to upgrade their education to compete in our tough job market. This is the ideal time for you to connect with mission-oriented students who are seeking a military-friendly school that accepts their military benefits.</p>
                        <p class="intro" align="left">Our Veterans Living and Resort Centers provide housing solutions for veterans through our operation of formerly underperforming hotels. We want to build a bridge for your institution to be their choice as they are poised to begin training for their civilian career. VetsvilleUSA can connect you directly with a continuous stream of qualified veterans who are actively seeking the best way to leverage their benefits for the educational opportunity that is right for them.  </p>
                    </div>
                </div>
            </div>
            </div>

        </div>
    </div>

    <!-- Housing Section
    ==========================================-->
    <div id="tf-housing" class="text-center">
        <div class="container">
            <div class="section-title center">
                <br>
                <br>
                <h2>Our <strong>housing</strong> facility</h2>
                <div class="line">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 service">
                    <hr>
                    <h3>Comfortable, clean and conveniently located housing.</h3>
                    <hr>
                    <br>
                </div>
                <div class="col-md-6 col-sm-6 service">
                    <hr>
                    <h3>Provided hassle free and cost free to Veterans.</h3>
                    <hr>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-4 service">
                    <img src="{{ url_for('static', filename='img/housing/living.jpg') }}" alt="" class="img-responsive">
                </div>
                <div class="col-md-3 col-sm-4 service">
                    <img src="{{ url_for('static', filename='img/housing/dining.jpg') }}" alt="" class="img-responsive">
                </div>
                <div class="col-md-3 col-sm-4 service">
                    <img src="{{ url_for('static', filename='img/housing/kitchen.jpg') }}" alt="" class="img-responsive">
                </div>
                <div class="col-md-3 col-sm-4 service">
                    <img src="{{ url_for('static', filename='img/housing/bedroom.jpg') }}" alt="" class="img-responsive">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-6 service" align="center">
                    <br>
                    <h3>Contact us for more details.</h3>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>

    <!-- Contact Section
    ==========================================-->
    <div id="tf-contact" class="text-center">
        <div class="container">

            <div class="row">
                <div class="col-md-8 col-md-offset-2">

                    <div class="section-title center">
                        <h2>Feel free to <strong>contact us</strong></h2>
                        <div class="line">
                            <hr>
                        </div>
                        <div class="clearfix"></div>
                        <small><em>We would love to hear from you. Please send us an email using the form below. </em></small>
                    </div>

                    <form class="form-horizontal" role="form" method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="emailID">Email address</label>
                                    <input type="email" class="form-control" name="emailID" placeholder="Enter email">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="fullName">FullName</label>
                                    <input type="text" class="form-control" name="fullName" placeholder="Full Name">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="phoneNo">PhoneNo</label>
                            <input type="number" class="form-control" name="phoneNo" placeholder="Phone no">
                        </div>
                        <div class="form-group">
                            <label for="message">Message</label>
                            <textarea class="form-control" rows="3" name="message"></textarea>
                        </div>
                        
                        <button type="submit" class="btn tf-btn btn-default">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer-distributed">
        <div class="row">
            <div class="col-lg-4">
                <p class="heading">Vetsville USA</p>
                <p class="link">Call now - 770 557 7535</p>
                <p class="link"><a href="mailto:vetsvilleusa@gmail.com">vetsvilleusa@gmail.com</a></p>
            </div>
            <div class="col-lg-4">
                <p class="heading">Career Training</p>
                    <p><a class="link">Horticulture</a></p>
                    <p><a class="link">Culinary Arts</a></p>
                    <p><a class="link">Hospitality Operations</a></p>
                    <p><a class="link">Business Management</a></p>
                    <p><a class="link">Hydroponics</a></p>
                <p class="heading">Life Coaching & Counseling</p>
                    <p><a class="link">Goals and Life Action Plans</a></p>
                    <p><a class="link">Substance Abuse</a></p>
                    <p><a class="link">Motivational</a></p>
                <p class="heading">Career Advancement</p>
                    <p><a class="link">Job Placement</a></p>
                    <p><a class="link">Entrepreneurship</a></p>
            </div>
            <div class="col-lg-4">
                <p class="heading"> About the company.</p>
					<p class="link"> Vetsville USA focuses on assisting our Veterans transition from the military to civilian life through career training and counseling.</p>
                <div class="footer-icons">
                    <p class="heading">Follow us on social media.</p>
                    <a href="https://www.facebook.com/Vetsville-USA-Decatur-778058308982630/"><i class="fa fa-facebook"></i></a>
                    <a href="https://plus.google.com/u/3/105717813901042116246/about"><i class="fa fa-google-plus"></i></a>
                    <a href="https://twitter.com/vetsvilleusa"><i class="fa fa-twitter"></i></a>
                    <a href="http://vetsvilleusa.tumblr.com/"><i class="fa fa-tumblr"></i></a>
                </div>
            </div>
        </div>
	</footer>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.1.11.1.js') }}" ></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}" ></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/SmoothScroll.js') }}" ></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.isotope.js') }}" ></script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/owl.carousel.js') }}" ></script>

    <!-- Javascripts
    ================================================== -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}" ></script>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-68976699-2', 'auto');
        ga('send', 'pageview');
    </script>

  </body>
</html>
